slipsomat.cfg
.project
.pydevproject
.settings/
__pycache__
/test-data/test_2018-02-07_en.png
/test-data/test_2018-02-07_en.html
/test-data/overdueandlostloanletter_hefte_no.png
/.slipsomat_history
/test-data/overdueandlostloanletter_hefte_nn.html
/test-data/overdueandlostloanletter_lærerbibl_en.png
/test-data/overdueandlostloanletter_lærerbibl.xml
/test-data/test_2018-02-07_nb.html
/test-data/overdueandlostloanletter_hefte_nb.png
/test-data/overdueandlostloanletter_lærerbibl_en.html
/test-data/overdueandlostloanletter_hefte_en.png
/test-data/test_2018-02-07_nn.html
/geckodriver.log
/test-data/overdueandlostloanletter_hefte.xml
/test-data/test_2018-02-07_nn.png
/test-data/overdueandlostloanletter_hefte_nb.html
/test-data/overdueandlostloanletter_hefte_en.html
/test-data/overdueandlostloanletter_hefte_no.html
/test-data/test_2018-02-07.xml
/test-data/test_2018-02-07_nb.png
/test-data/overdueandlostloanletter_hefte_nn.png
